h1 {
    text-align: center;
}

.book-shelf {
    padding: 10px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.book {
    border: 1px solid #333333;
    border-radius: 10px;
    text-align: center;
}

.new-book-container {
    text-align: center;
}

dialog {
    width: clamp(300px, 60%, 450px);
    padding: clamp(2px, 3%, 20px);
    bottom: 20%;
    box-sizing: border-box;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.input-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    text-align: right;
    gap: 5px;
}

.input-container input:invalid {
    border-color: #ff0000;
}

.close {
    text-align: right;
}

.close-modal {
    cursor: pointer;
}

.remove-book {
    margin-bottom: 15px;
}